/* ----- Pour le CSS ----- */

* {
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
}

.container {
  background: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  min-height: 100vh;
  padding: 30px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ----- Header et éléments ----- */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  height: fit-content;
  padding: 10px 10px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 5px 0 blue;
}

.header button {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 10px;
}

.header button:hover {
  background-color: hsl(226, 11%, 37%);
  transition: 2s;
}

/* ----- Extensions & buttons ----- */

.extensions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.buttons button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: hsl(200, 60%, 99%);
  cursor: pointer;
}
